<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-4 text-center">
      <div class="card-header">
        <h1 class="h4">
          Private site
        </h1>
      </div>
      <div class="card-body">
        <form action="/private" method="POST">
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" autofocus>
          </div>
          <button class="btn btn-primary btn-block">
            OK 
          </button>
        </form>
      </div>
    </div>
  </div>
</div>